/* @import "~@blueprintjs/core/lib/scss/variables"; */

body {
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
  overflow-y: hidden;
  /* overflow: hidden; */
}

/* .App .sidebar-container:hover {
  border-right: 2px solid #ccc;
} */

.App .sidebar-container {
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  border-right: solid 1px #ddd;
  background: #f0f0f0;
}

.App .editor-container {
  flex: auto;
  flex-grow: 999;
  flex-shrink: 1;
}